
.blog-post {
    margin-bottom: 4rem;
}


.blog-post code, code.fancy-code, code {
    padding: 0.12em 0.125em;
    margin: 0;
    white-space: break-spaces;
    background-color: #f2f2f2;
    border-radius: 6px;
    vertical-align: baseline;
    color: inherit;
}

h2 code.white-code{
    padding: 0.12em 0.25em;
    margin: 0;
    background-color: #0000009e;
    border-radius: 6px;
    vertical-align: baseline;
    color: white;
}

.console_log {
    padding: 1em;
    background: #3a3a3a;
    color: white;
    display: none;
    max-height: 30em;
}

.console_log_light{
    color: black;
    background: #ffe9e9;
}

code{
    font-size: inherit;
}