{% extends 'base_template.html' %}

{% block page_content %}

<h2><a href="{{ url_for('index') }}">Back to main</a></h2><br><br><br><br><br>

<h2>Registered users:</h2>

<table>
    <thead>
        <tr>
            <td>User</td>
            <td>Action</td>
            <td>Total runtime</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>
                {% if user.enabled %}
                <a href="{{ url_for('disable_user', id=user.id) }}">Disable</a>
                {% else %}
                <a href="{{ url_for('enable_user', id=user.id) }}">Enable</a>
                {% endif %}
            </td>
            <td>
                {{ user.total_used_runtime // (60 * 60 * 24) }} days,
                {{ user.total_used_runtime % (60 * 60 * 24) // (60 * 60) }} hours,
                {{ user.total_used_runtime % (60 * 60) // (60) }} minutes
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}