{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
    body {
        background: #e8f1f9;
    }

    pre {
        height: 300px;
    }
</style>
{% endblock %}


{% block title %}
VNN-Comp 2022
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-12 mx-lg-auto mx-md-auto">

            <h1 class="pt-5 pb-2">VNN-Comp 2022</h1>

            <div class="form-wrapper">

                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        x
                    </button>
                    {{ message }}
                </div>
                {% endfor %}

                <h1>Log In</h1>

                <form method="POST" action="/login">
                    {{ form.csrf_token }}

                    <fieldset class="email">
                        {{ form.username.label }}
                        {{ form.username(placeholder='youremail@example.com') }}
                        {% if form.username.errors %}
                        <ul class="errors">
                            {% for error in form.username.errors %}
                            <li>{{ error }}</li>{% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    <fieldset class="password">
                        {{ form.password.label }}
                        {{ form.password }}
                        {% if form.password.errors %}
                        <ul class="errors">
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>{% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>

                    <div class="submit-button">
                        {{ form.submit }}
                    </div>

                    <div class="login-signup">
                        <span>Don't have an account?</span>
                        <a href="{{ url_for('signup') }}">Sign up.</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}