{% import "bootstrap/wtf.html" as wtf %}

{% import "components.html" as components %}

{{ components.head(title="VNN-Comp 2024") }}

{{ components.loggedIn_navbar(current_user=current_user) }}

<!-- Mashead header-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">

            <h1 class="display-1 lh-1 mb-3">Page not found <Br>(Error 404)</h1>
            <div class="d-flex flex-column flex-lg-row align-items-center">
                <a href="{{ url_for('index') }}" class="btn btn-dark rounded-pill px-3 mb-2 mb-lg-0"
            >
                        <span class="d-flex align-items-center">
                            <span class="fs-4" style="padding: 0 10px;">Go To Main page</span>
                        </span>
            </a>
            </div>
        </div>

    </div>
    </div>
</header>


{{ components.footer(current_user, env) }}
{{ components.foot() }}