{% macro head(title='VNNCOMP 2022') -%}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>{{ title }}</title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
              rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
              rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
              rel="stylesheet"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet"/>
        <link href="/css/blog.css" rel="stylesheet"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/loader.js"></script>


    </head>
    <body id="page-top" style="background: #f8f9fa;">
{%- endmacro %}

{% macro foot() %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
    </html>
{%- endmacro %}

{% macro footer() %}
    <!-- Footer-->
    <footer class="text-center py-5">
        <div class="container px-5">
            <div class="text-black-50 small">
                <div class="mb-2">&copy; VNN-Comp 2023. All Rights Reserved.</div>
            </div>
        </div>
    </footer>
{%- endmacro %}

{% macro empty_navbar() %}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="/">VNNComp 2023</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <a href="https://sites.google.com/view/vnn2023" target="_blank" class="btn btn-light rounded-pill px-3 mb-2 mb-lg-0"
                >
                    <span class="d-flex align-items-center">
                        <span class="small">
                            Visit Main Website
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </nav>
{%- endmacro %}

{% macro loggedIn_navbar(current_user) %}

    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="/#page-top">VNNComp 2023</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <a href="https://sites.google.com/view/vnn2023" target="_blank" class="btn btn-light rounded-pill px-3 mb-2 mb-lg-0"
                >
                    <span class="d-flex align-items-center">
                        <span class="small">
                            Visit Main Website
                        </span>
                    </span>
                </a>
                <ul class="navbar-nav ms-auto me-1 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-0" href="#">
                        {% if current_user.is_anonymous %}
                            How did u access this page without authentication?
                        {% else %}
                            {{ current_user.username }}
                        {% endif %}

                    </a></li>
                    {#                <li class="nav-item"><a class="nav-link me-lg-3" href="#download">Download</a></li>#}
                </ul>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}" class="btn btn-light rounded-pill px-3 mb-2 mb-lg-0"
                    >
                        <span class="d-flex align-items-center">
                            <span class="small">
                                Login
                            </span>
                        </span>
                    </a>
                {% else %}
                    <a href="{{ url_for('logout') }}" class="btn btn-light rounded-pill px-3 mb-2 mb-lg-0"
                    >
                        <span class="d-flex align-items-center">
                            <span class="small">
                                Log Out
                            </span>
                        </span>
                    </a>
                {% endif %}

                </a>
            </div>
        </div>
    </nav>

{% endmacro %}


{% macro benchmark_pip() %}
absl-py==1.0.0
astunparse==1.6.3
attrs==19.3.0
Automat==0.8.0
blinker==1.4
cachetools==5.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloud-init==21.4
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
cycler==0.11.0
dbus-python==1.2.16
distro==1.4.0
distro-info===0.23ubuntu1
ec2-hibinit-agent==1.0.0
entrypoints==0.3
flatbuffers==2.0
fonttools==4.31.1
gast==0.5.3
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.6.0
hibagent==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==4.11.3
incremental==16.10.1
Jinja2==2.10.1
joblib==1.1.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.4.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==13.0.0
Markdown==3.3.6
MarkupSafe==1.1.0
matplotlib==3.5.1
more-itertools==4.2.0
netifaces==0.10.4
numpy==1.22.3
oauthlib==3.1.0
onnx==1.9.0
onnxconverter-common==1.9.0
onnxruntime==1.10.0
opt-einsum==3.3.0
packaging==21.3
pexpect==4.6.0
Pillow==9.0.1
protobuf==3.19.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.0.7
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
PyYAML==5.3.1
requests==2.22.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rsa==4.8
scikit-learn==1.0.2
scipy==1.4.1
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
skl2onnx==1.7.0
sos==4.1
ssh-import-id==5.10
systemd-python==234
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
torch==1.10.2
torchvision==0.11.3
Twisted==18.9.0
typing_extensions==4.1.1
ubuntu-advantage-tools==27.4
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
wadllib==1.3.3
Werkzeug==2.0.3
wrapt==1.14.0
zipp==1.0.0
zope.interface==4.7.1
{%- endmacro %}