{% extends 'base_template.html' %}


{% block page_content %}
<h2><a href="{{ url_for('index') }}">Back to main</a></h2><br><br><br><br><br>
<br>Current user: {{ current_user }}
<h2>Toolkits details for {{ task.name }} ({{ task.id }})</h2>

<br>Requested instance type: {{ task.aws_instance_type.get_aws_name() }}, {{ task.ami }} (IP: {{ task.instance.ip }})
<br>Repository: {{ task.repository }}, hash: {{ task.hash }}
<br>Script dir: {{ task.script_dir}}
<br>Run networks: {{ task.run_networks }}
<br>Done?: {{ task.done }}
{% if task.done %}
(total runtime {{ task.total_runtime // (60*60) }} hours, {{ task.total_runtime % (60*60) // (60) }} minutes)
{% else %}
(runtime so far {{ task.total_runtime // (60*60) }} hours, {{ task.total_runtime % (60*60) // (60) }} minutes)
{% if task.current_step.can_be_aborted() %}
(<a href="{{ url_for('toolkit_abort', id=task.id) }}">abort</a>)
{% else %}
(cannot be aborted right now)
{% endif %}
{% endif %}


<br>
{% for step in task._db_steps %}
<br>{{ step.description() }} {% if current_user.admin %} ({{ step._db_id }}) {% endif %}:
{% if step.aborted %}
Aborted.
{% elif step.done %}
Done.
{% elif step.active %}
Running.
{% else %}
Pending.
{% endif %}
{% if step.logs != "" %}
<pre class="console_log">{{ step.logs }}</pre>
{% endif %}
{% if step.results != "" %}
<pre class="console_log">{{ step.results }}</pre>
{% endif %}
{% if step.note() != "" %}
<strong>{{ step.note() | safe }}</strong>
{% endif %}
<br><br>
{% endfor %}
<br><a href="{{ url_for('toolkit_resubmit', id=task.id) }}">Use data to populate submission form</a>


{% endblock %}