{#{% extends 'base_template.html' %}#}
{##}
{#{% block page_content %}#}

{% import "bootstrap/wtf.html" as wtf %}

{% import "components.html" as components %}

{{ components.head(title="VNN-Comp 2023") }}

{{ components.loggedIn_navbar(current_user=current_user) }}

<style>
                    div.form-group {
                        margin-bottom: 1rem !important;
                    }

                    div.checkbox {
                        margin-bottom: 1rem !important;
                    }
                </style>

<section class="bg-light">
    <div class="container px-5" style="max-width: 960px">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-12 lead fw-normal">
                <div style="padding: 1rem 1rem 1rem 0;">
                <a href="/"
                   class="btn btn-light rounded-pill px-3 mb-2 mb-lg-0" style="padding-left: 0 !important;"
                >
                    <span class="d-flex align-items-center">
                        <span class="small">
                            < Back to Main Page
                        </span>
                    </span>
                </a>
</div>
                <h2>Test a toolkit</h2>

                {% if message %}
                    <p class="pt-5"><strong>{{ message }}</strong></p>
                {% endif %}

                Use this form to submit a new toolkit for benchmarking.



                {{ wtf.quick_form(form, action="/toolkit/submit") }}
                <br><br>
                <p>To configure licenses, you may define an additional post-install script. It is executed once, after
                    <code>install_tool.sh</code> was run.</p>
                <p>
                    You must provide most configurations via a `.yaml` file.
                    This file must be part of your repository.
                    Please provide the url of the raw view (githubusercontent) This file must contain the following parameters:
                    <pre class="console_log_light">
name: Your Tool Name
ami: [AMI string, see below], 
scripts_dir: [relative to repository root]
manual_installation_step: [True/False]
run_installation_script_as_root: [True/False]
run_post_installation_script_as_root: [True/False]
run_toolkit_as_root: [True/False]
description: >
  A description of your tool. It will be used for the final report.
  
  It may even span multiple lines
</pre>
                    The AMI string can define any image supported by Amazon (Oregon region), popular choices are
                    <ul>
                        <li>ami-0280f3286512b1b99: Deep Learning AMI (Ubuntu 18.04) Version 62.1 (MXNet-1.9, TensorFlow-2.7, PyTorch-1.11, Neuron, & others. NVIDIA CUDA, cuDNN, NCCL, Intel MKL-DNN, Docker, NVIDIA-Docker & EFA support)"</li>
                        <li>ami-0892d3c7ee96c0bf7: Canonical, Ubuntu, 20.04 LTS, amd64 focal image</li>
                        <li>ami-0d70546e43a941d70: Ubuntu Server 22.04 LTS</li>
                    </ul>
                </p>
                <br>
                <br>
            </div>

        </div>
    </div>
</section>

{{ components.footer() }}
{{ components.foot() }}

{#{% endblock %}#}