{% import "components.html" as components %}

{{ components.head(title="VNN-Comp 2024") }}

{{ components.loggedIn_navbar(current_user=current_user) }}


<section style="background: white;">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-12">

                <h2>Registered users:</h2>

                <table>
                    <thead>
                        <tr>
                            <td>User</td>
                            <td>Enabled?</td>
                            <td>ENI/MAC</td>
                            <td>Total runtime</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>
                                {% if user.enabled %}
                                <a href="{{ url_for('disable_user', id=user.id) }}">Disable</a>
                                {% else %}
                                <a href="{{ url_for('enable_user', id=user.id) }}">Enable</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.eni %}
                                {{ user.eni }} / {{ user.mac }} (<a href="{{ url_for('admin_user_delete_eni', id=user.id) }}">Delete</a>)
                                {% else %}
                                <a href="{{ url_for('admin_user_assign_eni', id=user.id) }}">Assign ENI</a>
                                {% endif %}
                            </td>
                            <td>
                                {{ user.total_used_runtime // (60 * 60 * 24) }} days,
                                {{ user.total_used_runtime % (60 * 60 * 24) // (60 * 60) }} hours,
                                {{ user.total_used_runtime % (60 * 60) // (60) }} minutes
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{{ components.footer(current_user, env) }}
{{ components.foot() }}